<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-11">
        <h5>Messages from {{privateMessageChatRoom.sender.name}}</h5>
      </div>
      <div class="col-1">
        <i [ngClass]="showMessageArrow" (click)="showMessages=!showMessages"></i>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="showMessages">
    <div class="row" *ngFor="let privateMessage of privateMessageChatRoom.privateMessages">
      <div class="col">
        {{privateMessage.message}}
      </div>
    </div>
  </div>
</div>
