<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button
            (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <h4 *ngIf="user$ | async">Welcome to Chat - {{(user$ |async).name}}</h4>
    <h4 *ngIf="!(user$ | async)">Chat</h4>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-list-items">
      <li><a routerLink="/registration" *ngIf="!(isAuthenticated$ | async)" >Signup</a></li>
      <li> <a routerLink="/login" *ngIf="!(isAuthenticated$ | async)">Login</a></li>
      <li  *ngIf="isAuthenticated$ | async"><a  (click)="logout()">Logout</a> </li>
    </ul>
  </div>
</mat-toolbar>
