.card-header,.card-body{
  width: 95%;
  border: lightgray 1px solid;
}

.card{
  height: 100%;
}

.mat-form-field{
  width: 80%;
}

.select-chat-room {
  margin-left: 35px;
  margin-top: 30px;

}
.chat-message-area{
  min-width: 95%;
}

.member-btn{
  min-width: 70%;
}
