.card-header,.card-body{
  width: 95%;
  border: lightgray 1px solid;
}

.card{
  height: 100%;
}

.mat-form-field{
  width: 90%;
}

.mat-list{
  border: blue 1px solid;
  border-radius: 5px;
  width: 60%;
}

.chat-message-area{
  min-width: 95%;
}
