.card-header,.card-body{
  border: solid 1px lightgray;
  border-radius: 10px;
  width: 450px;
}

.card-header {
  background-color: azure;
  color: blue;
}

mat-error{
  font-size: 20px;
}

mat-form-field{
  margin-top: 15px;
  width: 325px;
}

button {
  margin-top: 15px;
  margin-bottom: 10px;

}
